* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: inline-flex;
    text-decoration: none;
    padding-left: 100px;
    height: 70px;
    width: 100%;
    background-color: rgb(227, 227, 230);
    line-height: normal;
    justify-content: space-evenly;
}

li {
    margin-left: 10px;
    text-decoration: none;
    list-style: none;
}

#contactinfo {
    display: inline;
    float: right;
    color: red;
}

.nav-subtext {
    text-decoration: none;
    color: brown;
    display: block;
}

#header_image {
    width: 100%;
    height: 500px;
}

.offer-images {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.img-circled {
    border-radius: 50%;
    margin-right: 50px;
    width: 250px;
    height: 250px;
}

.underline {
    margin-left: 25px;
    margin-top: 10px;
    width: 70px;
    height: 5px;
    background-color: #d1baa5;
    border-color: blue;
    border-bottom-color: yellow;
    display: block;
}

#section-resturant {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fcf8ef;
}

.section-header {
    display: grid;
    justify-content: center;
    margin-bottom: 60px;
}

#resturant-images {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

#resturant-images>* {
    border-radius: 5%;
    margin-right: 25px;
    width: 250px;
    height: 250px;
}

#section-bread {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}

#bread-images {
    display: flex;
}

#bread-images>div>h3 {
    color: #555555;
}

#bread-images>div>p {
    color: #9f9f9f;
}

button {
    width: 150px;
    height: 40px;
    background-color: #fefffe;
    border-radius: 10px;
    color: #a27b5c;
}

#section-bread>button {
    justify-content: center;
}

td>img {
    width: 100px;
    height: 100px;
}

/*
 * Images grid
 */
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: red;
}

.two {
    grid-column: 3/4;
    grid-row: 1;
    background-color: blue;
}

.three {
    grid-column: 4/4;
    grid-row: 1;
    background-color: rgb(81, 81, 120);
}

.four {
    grid-column: 3/4;
    grid-row: 2;
    background-color: #a27b5c;
}

.five {
    grid-column: 4/4;
    grid-row: 2/4;
    background-color: aqua;
}

.six {
    grid-column: 1;
    grid-row: 3;
    background-color: blueviolet;
}

.seven {
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: cadetblue;
}

.eight {
    grid-column: 1;
    grid-row: 4;
    background-color: brown;
}

.nine {
    grid-column: 4;
    grid-row: 4;
    background-color: yellow;
}